.partnersCard__Main-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 5px;
    width: auto;
}
.partnersCard__Img-Container{
    background-color: #fff;
    border-radius: 5px;
}
.partnersCard__Img{
    width: 70%;
    height: auto;
}
.partnersCard__Title{
    text-align: center;
    color: #fff;
    font-weight: 200;
}