.products__MainContainer{
    background-image: url(../../assets/products/productsBackground.jpg);
    background-size: cover;
    background-repeat: no-repeat;    
    background-position: center;
    height: 100%;
    width: auto;
    margin: 0;  
    padding: 30px 0;    
}

.products__CardContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;  
    position: relative;      
    padding: 50px;    
}
.products__Card-Self-Container{
    display: flex;
    justify-content: center;
}

.products__Title-Container{
    padding: 20px;
}
.products__Title{
    color: #fff;
    text-align: left;
    font-size: 4rem;
    font-weight: 200;
}

@media (max-width: 460px) {
    .products__MainContainer{
        background-image: url(../../assets/alt_background.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100%;
        padding: 10px;
    }    
    .products__CardContainer{
        flex-direction: column;
        top: 0;        
    }
    .products__Title-Container{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .products__Title{
        color: #fff;
        text-align: center;
    }

}

