.contact__MainContainer{
    background-image: url(../../assets/contact/CONTACTANOS.jpeg);
    background-size: cover;
    background-repeat: no-repeat;    
    background-position: center;
    height: 100%;
    width: 100vw;
    margin: 0;   
    padding: 100px 0; 
}

.contact__Title-Container{
    padding: 20px;
}
.contact__Title{
    color: #fff;
    text-align: left;
    font-size: 4rem;
    font-weight: 200;
    overflow-y: hidden;
}
.contact__Form-Container{      
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;    
    padding: 100px 0;
    flex-direction: column;    
}
.form__Input-Container{
    width: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: #ED7F38;
    border-radius: 10px;
    padding: 15px;
    background-color: #00000070;
}
.form__Input{
    width: 100%;
    background-color: #00000050;
    border-color: #ED7F38; 
    margin: 5px 0;  
    color: #fff;     
}
.form__Input::placeholder {
    color: #fff;
}

.form__Input-Message{
    width: 100%;
    background-color: #00000050;
    border-color: #ED7F38;    
    color: #fff; 
}
.form__Input-Message::placeholder {
    color: #fff;
}

.form__Logo-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}
.form__Logo{
    width: 50%;
    height: auto;
}

.form__Btn-Container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.form__Btn{
    background-color: #ED7F38;
    width: 100%;    
    font-weight: 800px;    
}
.form__Btn:hover{
    background-color: #00000050;
    color: #fff;
    border-width: 1px;
    border-color: #ED7F38;
}

@media (max-width: 460px){
    .contact__Form-Container{
        top: 50px;        
    }
    .contact__Title{
        font-size: 3rem;
        text-align: center;
    }
}

